global
  maxconn 4096
  user haproxy
  group haproxy

defaults
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

frontend http-in
  bind *:80
  mode http
  default_backend front
  use_backend node if { path_beg /backend }
  use_backend log if { path_beg /interface }

backend front
  mode http
  server web0 172.20.0.3:80

backend node
  mode http
  server node0 172.20.0.8:8080

backend log
  mode http
  server log0 172.20.0.4:9000
